.header{
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.logo{
  width: 100px;
  padding: 10px;
}

.nav-items>ul{
  font-size: 18px;
  display: flex;
  list-style-type: none;
}

.nav-items >ul > li{
  padding: 10px;
  margin: 10px;
}

.filter{
  display: flex;
  padding: 10px;
  margin: 5px;
}

.res-card{
  margin: 5px;
  padding: 5px;
  width: 180px;
  background-color: #f0f0f0;
}
.res-card:hover{
  cursor: pointer;
  border: 1px solid black;
}

.res-logo{
  width: 100%;
  height: 140px;
}

.res-container{
  display: flex;
  flex-wrap: wrap;
}

.Shimmer-container{
  display: flex;
}

.shimmer-card{
  margin: 20px;
  height: 300px;
  width: 200px;
  background-color: #f0f0f0;
}

.login-btn{
  margin: 20px;
  width: 80px;
  cursor: pointer;
}

.filter{
  display: flex;
}

.search-btn{
  margin:0 10px;
}
